<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>GOOD CHOICE! RUSTY IS BEST!</p>
<% } else{ %>
    <p>BAD CHOICE! You should have said rusty!</p>
<% } %>
<p>P.S. this is love.ejs file!</p>